html{
  font-family: 'Signika Negative', sans-serif;
  margin: 0;

}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: .55em 0 .55em 0;
  background: rgba(255,255,255,.80);
  color: rgb(71,100,47);
  margin:0;
  font-size: 2.25em;
}
body{
  margin: 0;

}
.subhead{
  text-align: center;
  padding: 1em 0 .5em 0;
  background: rgb(126,208,236);
  margin: 0;
  color: white;
  font-size: 1.25em;
}
nav a{
  text-align: center;
  color: rgb(71,100,47);
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 1.25em;
}
nav ol{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li{
  border: 3px;
  width: 15%;
  border-radius: 15px;
  display: inline-block;
  padding: .75em 1.65em .75em 1em;
  background: rgba(255,255,255,.79)

}
header{
  background-image: url(../images/sunset.jpg);
  position: relative;
  padding: 12em 0 0 0;
  width: 100%;
  background-size: cover;
  background-position: center center;

}
.menu{
  left: 20px;
  top: 90px;
  position: absolute;
}
.reviews{
  top: 10px;
  left: 50px;
  position: absolute;
}
.location{
  top: 10px;
  right: 50px;
  position: absolute;
}
.contact{
  right: 20px;
  top: 90px;
  position: absolute;
}
.logo{
  position: absolute;
  padding: 2em 0 2em 0;
  top: 72px;
  right: 85px;
}
.banner{
  background-image: url(../images/yummy.jpg);
  position: absolute;
  width: 100%;
}
