html{
  font-family: 'Signika Negative', sans-serif;
  margin: 0;

}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
}
body{
  margin: 0;

}
.subhead{
  text-align: center;
}
nav a{
  text-align: center;
  color: black;
  text-decoration: none;
}
nav ol{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li{
  border: 3px solid black;
  width: 15%;
  border-radius: 15px;
  display: inline-block;
  padding: 1em;
}
header{
  background-image: url(../images/sunset.jpg);
  position: relative;
  padding: 10em 0 0 0;
  width: 100%;
  background-size: cover;
  background-position: center center;

}
.menu{
  left: 20px;
  top: 70px;
  position: absolute;
}
.reviews{
  top: 0px;
  left: 50px;
  position: absolute;
}
.location{
  top: 0px;
  right: 50px;
  position: absolute;
}
.contact{
  right: 20px;
  top: 70px;
  position: absolute;
}
