html{
  font-family: 'Signika Negative', sans-serif;
  margin: 0;

}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: .3em 0 .3em 0;
  background: rgba(255,255,255,.80);
  color: rgb(71,100,47);
  margin: .52em 0 0 0;
  font-size: 2.25em;
}
body{
  margin: 0;

}
.subhead{
  text-align: center;
  padding: 1em 0 .5em 0;
  background: rgb(126,208,236);
  margin: 0;
  color: white;
  font-size: 1.25em;
}
nav a{
  text-align: center;
  color: rgb(71,100,47);
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 1.25em;
}
nav ol{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li{
  border: 3px;
  width: 15%;
  border-radius: 15px;
  display: inline-block;
  padding: .5em 1.65em .5em .9em;
  background: rgba(255,255,255,.79);

}
header{
  background-image: url(../images/sunset.jpg);
  position: relative;
  padding: 12em 0 0 0;
  width: 100%;
  background-size: cover;
  background-position: center center;

}
.menu{
  left: 20px;
  top: 90px;
  position: absolute;
}
.reviews{
  top: 10px;
  left: 50px;
  position: absolute;
}
.location{
  top: 10px;
  right: 50px;
  position: absolute;
}
.contact{
  right: 20px;
  top: 90px;
  position: absolute;
}
.logo{
  position: absolute;
  padding: 2em 0 2em 0;
  top: 70px;
  right: 18px;
  width: 100%;
  height: 150px;
}
.banner{
  width: 100%;

}
p{
  margin: 0;
}

h2{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  margin: 0;
  padding: 0 0 0 .75em;
  background: #98B53C;
  position: relative;
}
.arrow{
  position: relative;
  bottom: 100px;
  float: right;
}
.link{
  text-decoration: underline;
  font-size: 1.3em;
  top: -135px;
  position: relative;
  padding: .5em 0 1em .5em;
  width: 100%;
  clear: both;
  display: inline-block;
}
.coconut{
  width: 50%;
  float:left;
  position: relative;
  top: -120px;
  clear: both;
}
.rice,.curry{
  width: 50%;
  float: right;
  position: relative;
  top: -120px;
}
.weserve{
  color:rgb(126,208,236);
  width: 98%;
  display: inline-block;
  top: -115px;
  position: relative;
  padding: 0 1em 0 .5em;
  font-size: 1.15em;
}
.lunch{
  background-color: rgba(152,181,60,.67);
  color: white;
  padding: 0 0em 0.12em .5em;
  top: -130px;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
}
dt{
  color: rgb(71,100,47);
  padding: 0 0 0 2em;
  top: -130px;
  position: relative;

}
dd{
  color:rgb(126,208,236);
  font-size: .75em;
  padding: 0 0 1em 2em;
  top: -130px;
  position: relative;

}
.chili{
  position: absolute;
  display: inline-block;;
  margin-top: -135px;
}
.menusection,.veggie{
  position: relative;

}
.veg{
  background-color: rgba(152,181,60,.67);
  color: white;
  padding: 0 0 0.12em .5em;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
  margin: 0 0 1em 0;
  top:-120px;
  float: left;
  width: 100%;
}
.reviewh2{
  background-color: #f46e7d;
  position: relative;
  top: -130px;
}
.reviewarrow{
  position: relative;
  top: -230px;
  float: right;
}
.kabob{
  width: 50%;
  float:left;
  top: -120px;
  position: relative;
}
.ratings{
  top: -270px;
  position: relative;
  padding: 1em 0 0 .5em;
  font-size: 1.25em;
  color: rgb(71,100,47);
  width: 100%;
  display: inline-block;
  clear: both;
}
.star{
  top:-250px;
  position: relative;
  padding: 0 .5em 1em 2em;
  width: 50%;
}
.reviewtitle1, .reviewtitle2, .reviewtitle3{
  width: 90%;
  font-size: 1em;
  color: rgb(71,100,47);
  top: -270px;
  position: relative;
  padding: 0 0 0 1.75em;
  margin: 0 auto;
}
.review1, .review2, .review3{
  top: -260px;
  position: relative;
  width: 90%;
  padding: 0 1em 0 2em;
  color:rgb(126,208,236);
  margin: 0;
  font-size:.85em;

}
.locationbar{
  background-color:#ff8007;
  top: -230px;
}
.locationarrow{
  position: relative;
  top: -325px;
  float: right;
}
}
