html{
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;

}
*, *::before, *::after {
  box-sizing: inherit;
}
h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: .3em 0 .3em 0;
  background: rgba(255,255,255,.80);
  color: rgb(71,100,47);
  margin: .52em 0 0 0;
  font-size: 2.35em;
}
body{
  margin: 0;
  overflow-x: hidden;
   padding:0;
   height:100%;
}

.bannerdiv{
  text-align: center;
  padding: 1em 0 .5em 0;
  background-color: #7ed0ef;
  margin: 0;
  color: white;
  font-size: 1.5em;
}
nav a{
  text-align: center;
  color: rgb(71,100,47);
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  font-size: 1.75em;
}
nav ol{
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav li{
  border: 3px;
  width: 30%;
  border-radius: 15px;
  display: inline-block;
  padding: .5em 2.5em .5em .5em;
  background: rgba(255,255,255,.79);

}
header{
  background-image: url(../images/sunset.jpg);
  position: relative;
  padding: 12em 0 0 0;
  width: 100%;
  background-size: cover;
  background-position: center center;

}
.menu{
  left: 20px;
  top: 90px;
  position: absolute;
}
.reviews{
  top: 10px;
  left: 50px;
  position: absolute;
}
.location{
  top: 10px;
  right: 50px;
  position: absolute;
}
.contact{
  right: 20px;
  top: 90px;
  position: absolute;
}
.logo{
  position: relative;
  top: 40px;
  right: 18px;
  width: 100%;
  height: 100px;
  clear: both;

}
.banner{
  width: 100%;
  display: block;
}
p{
  margin: 0;
  width: 100%;
}

h2{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  margin: 0;
  padding: 0 0 0 .5em;
  background: #98B53C;
  position: relative;
}
.arrow{
  position: relative;
  bottom: 100px;
  float: right;
}
.link{
  text-decoration: underline;
  font-size: 1.75em;
  top: -135px;
  position: relative;
  padding: .5em 0 1em .5em;
  width: 100%;
  clear: both;
  display: inline-block;
}
.coconut{
  width: 50%;
  float:left;
  position: relative;
  top: -120px;
  clear: both;
}
.rice,.curry{
  width: 50%;
  float: right;
  position: relative;
  top: -120px;
}
.weserve{
  color:rgb(126,208,236);
  width: 98%;
  display: inline-block;
  top: -115px;
  position: relative;
  padding: 0 1em 0 .5em;
  font-size: 2em;
}
.lunch{
  background-color: rgba(152,181,60,.67);
  color: white;
  padding: 0 0em 0.12em .5em;
  top: -130px;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
}
dt{
  color: rgb(71,100,47);
  padding: 0 0 0 2em;
  top: -130px;
  position: relative;
  clear: both;
  font-size: 1.5em;

}
dd{
  color:rgb(126,208,236);
  font-size: 1em;
  padding: 0 0 1em 2em;
  top: -130px;
  position: relative;
  font-size: 1.25em;

}
.chili{
  position: absolute;
  display: inline-block;;
  margin-top: -135px;
}
.menusection,.veggie{
  position: relative;

}
.veg{
  background-color: rgba(152,181,60,.67);
  color: white;
  padding: 0 0 .12em .5em;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
  margin: 0 0 1em 0;
  top:-120px;
  float: left;
  width: 100%;
}
.reviewh2{
  background-color: #f46e7d;
  position: relative;
  top: -130px;
}
.reviewarrow{
  position: relative;
  top: -230px;
  float: right;
}
.kabob{
  width: 50%;
  float:left;
  top: -120px;
  position: relative;
}
.ratings{
  top: -270px;
  position: relative;
  padding: 1em 0 0 .5em;
  font-size: 1.75em;
  color: rgb(71,100,47);
  width: 100%;
  display: inline-block;
  clear: both;
}
.star{
  top:-250px;
  position: relative;
  padding: 0 .5em 1em 2em;
  width: 50%;
}
.reviewtitle1, .reviewtitle2, .reviewtitle3{
  width: 90%;
  font-size: 1.5em;
  color: rgb(71,100,47);
  top: -270px;
  position: relative;
  padding: 0 0 0 1.75em;
  margin: 0 auto;
}
.review1, .review2, .review3{
  top: -260px;
  position: relative;
  width: 90%;
  padding: 0 1em 0 2em;
  color:rgb(126,208,236);
  margin: 0;
  font-size:1.5em;

}
.locationbar{
  background-color:#ff8007;
  top: -230px;
}
.locationarrow{
  position: relative;
  top: -330px;
  float: right;
}
.map{
  width: 100%;
  position: relative;
  top: -375px;
}
.directions{
  text-decoration: underline;
  position: relative;
  top: -370px;
  float: right;
  padding: 0 1em 0 0;
  font-size: 1.5em;
}
a:hover{
  color: green;
}
.aiyara{
  color: rgb(71,100,47);
  top: -340px;
  position: relative;
  padding: 0 0 0 1em;
  font-size: 1.5em;
  clear: right;
  }
.address{
  color:rgb(126,208,236);
  top: -335px;
  position: relative;
  padding: 0 0 0 1.25em;
  font-size: 1.25em;
  width: 40%;

}
.contactsection{
  background-color:#fbd379;
  top: -310px;
}
.contactarrow{
  position: relative;
  top: -410px;
  float: right;
}
.ordernow{
  top: -430px;
  position: relative;
  padding: 0 0 0 1em;
  font-size: 1.25em;
  color: rgb(71,100,47);
  clear: both;
}
.hours{
  top: -430px;
  position: relative;
  font-size: 1.5em;
  color: rgb(71,100,47);
  padding: 1em 0 0 .75em;

}
.monday, .closed, .tues, .openday, .closetime, .sat, .nightclose{
  top: -430px;
  position: relative;
  font-size: 1.15em;
  color: rgb(71,100,47);
  padding: 1em 0 0 1em;
}
.closed{
  color: #f46e7d;
  left: 160px;
  top: -470px;
  font-size: 1.10em;
  padding: 1em 0 0 0em;
}
.tues{
  top: -490px;
}
.openday{
  top: -530px;
  left: 160px;
  color:rgb(126,208,236);
  padding: 1em 0 0 0;

}
.closetime{
  color:rgb(126,208,236);
  top: -572px;
  left: 260px;
}
.sat{
  top: -590px;
}
.nightclose{
  color:rgb(126,208,236);
  top: -630px;
  left: 260px;
}
.visa{
  float: right;
  width: 25%;
  top: -590px;
  position: relative;
}
.master{
  float: right;
  width: 25%;
  top: -590px;
  position: relative;
}
footer{
  padding: 1em 0 0 0.5em;
  background-color:rgb(126,208,236);
  color: white;
  width: 100%;

}
.backtotop{
  text-decoration: underline;
  width: 100%;
  font-size: 1.15em;
}
.web{
  font-family: 'Pacifico', cursive;
  font-size: 1.25em;
}
